@page "/Admin/admin"

<h3>Admin</h3>

<div>
    <NavLink class="btn btn-primary" href="AddAttributes">Add Attributes</NavLink>
    <NavLink class="btn btn-primary" href="RemoveAttributes">Remove Attributes</NavLink>
    <NavLink class="btn btn-primary" href="UpdateAttributes">Update Attributes</NavLink>
    <NavLink class="btn btn-primary" href="SearchAttributes">Search Attributes</NavLink>
</div>

@code {
}
